@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

#allProducts {
  font-family: 'Roboto Condensed !important';
}
#allProducts .cardSubtitle {
  font-weight: 400;
}
#allProducts .cardPrice {
  font-weight: 300;
}
