.cart-img {
  width: 60%;
  height: 60%;
  border-radius: 40%;
}

.productDiv {
  background-color: pink;
  margin: 0 auto 1rem auto;
}

.all-info {
  display: flex;
  flex-direction: row;
}

.button-cart {
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
  transform: scale(0.8);
}

.button-cart:hover {
  transform: scale(0.7);
}

.button-cart:active {
  transform: scale(0.6);
}

.cart-box {
  padding-top: 1rem;
}

.card-all {
  border-radius: 30px;
}

.cart-heading {
  margin: 1rem auto;
}

.bg-color {
  background-color: #e99497;
}

.bottom {
  background-color: #F0D9E7;
  height: 20%;
  margin: 1rem auto;
}

.cart-all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5e6ca;
}
