.cart-img {
  width: 38%;
  height: 38%;
  border-radius: 40%;
  cursor: pointer;
}

.productDiv {
  background-color: #ededed;
  margin: 0 auto 1rem auto;
}

.all-info {
  display: flex;
  flex-direction: row;
}

.button-cart {
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
  transform: scale(0.8);
}

.button-cart:hover {
  transform: scale(0.7);
}

.button-cart:active {
  transform: scale(0.6);
}

.cart-box {
  padding-top: 1rem;
}

.card-all {
  border-radius: 30px;
}

.cart-heading {
  margin: 1rem auto;
}

.bg-color {
  background-color: #444444;
}

.bottom {
  background-color: #e8f0f2;
  height: 20%;
  margin: 1rem auto;
}

.cart-all-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5e6ca;
}
@media screen and (min-width: 992px) {
  .cart-img {
    width: 55%;
    height: 55%;
    border-radius: 40%;
    cursor: pointer;
  }
}
@media screen and (min-width: 650px) and (max-width: 992px) {
  .cart-img {
    width: 30%;
    height: 30%;
    border-radius: 40%;
    cursor: pointer;
  }
}
@media screen and (max-width: 650px) {
  .cart-img {
    width: 50%;
    height: 50%;
    border-radius: 40%;
    cursor: pointer;
  }
}
