.paperStyle {
  padding: 0.5rem;
  border-radius: 70%;
}

.productStyle {
  padding: 1rem;
}

.formStyle {
  height: 30rem;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.8);
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

button:focus {
  outline: none;
}

.bolden {
  font-weight: bold;
}

.ProductsNavbar {
  background-color: #171717;
}
.ProductsNavbar .nav-link:hover {
  color: white !important;
}
.ProductsNavbar .active {
  color: white !important;
}
.ProductsNavbar .search {
  color: black;
  border-color: black;
}
.ProductsNavbar .search:hover {
  background-color: white;
  border-color: black !important;
  color: black;
}
.ProductsNavbar .search:active {
  background-color: white !important;
  border-color: black !important;
  color: black !important;
  box-shadow: 1px 1px black !important;
}
.ProductsNavbar .search:focus {
  box-shadow: 1px 1px black !important;
}

.main-prod:hover {
  /* box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px; */
  /* transform: translate3d(0px, -2px, 0px); */
  /* border: 1px solid black; */
}
.mainAppDiv {
  height: 100vh;
}
