.paperStyle {
  padding: 0.5rem;
  border-radius: 70%;
}

.productStyle {
  padding: 1rem;
}

.formStyle {
  height: 30rem;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.8);
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

button:focus {
  outline: none;
}
#adminLogin,
#adminSignup,
#addProduct {
  width: 35%;
  margin: 0 auto;
}

.bolden
{
   font-weight: bold;
}
