html
{
  backgroundImage:-webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%)
}

.paperStyle
{
  padding: 2rem;
  height: 30%;
  width: 25%;
  margin: 10vh auto;
}

.productStyle
{
  padding: 1rem;
}

.attract
{
  margin: 0 auto;
}
